@import "tailwindcss";
@font-face {
  font-family: "Inter";
  src: url("/font/Inter_24pt-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "InterRegular";
  src: url("/font/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "InterBold";
  src: url("/font/Inter_24pt-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #171819;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4f46e5, #2563eb, #7c3aed);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4338ca, #1d4ed8, #6d28d9);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 #f3f4f6;
}

@layer base {
  body {
    font-family: var(--font-googlesansflex);
  }
}